<div class="container">
    <h1>TODO List</h1>

    <%= link_to "+ New Task", new_task_path %>

    <ul>
        <% @tasks.each do |task| %>
            <li class="<%= 'task-done' if task.done %>">
                <%= link_to task.title, task %>
            </li>
        <% end %>
    </ul>

</div>