body {
    font-family: 'Poppins', sans-serif;
    background-color:white;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0;
}

li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

form {
    margin-top: 20px;
}

form div {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    font-family: 'Poppins', sans-serif;
    resize: vertical;
}

form input[type="submit"] {
    font-family: 'Poppins', sans-serif;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: #dc3545;
    margin-top: 5px;
}

.status{
    color: green;
}

.task-done {
    text-decoration: line-through;
  }
  